@charset "UTF-8";

.container{width: 1440px;height: inherit;margin: 0 auto;}
.row{padding: 0 24px;}


/* terms */
#copyright{
    padding: 80px 0;
}
#copyright .copyright{
    display: flex;
}
#copyright .titArea{
    width: 23.5%;
    margin-right: 1%;
}
#copyright .titArea h3{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}
#copyright .titArea h3::after{}
#copyright .txtArea{
    width: 75.5%;
}
#copyright .txtArea p{
    word-break: keep-all;
    line-height: 1.7;
}
#copyright .txtArea ul{
    margin-top: 20px;
}
#copyright .txtArea ul li{}
#copyright .txtArea ul li:last-child{}
#copyright .txtArea ul li p{}
#copyright .txtArea .imgArea{
    margin: 40px 0;
}
#copyright .txtArea .imgArea ul{
    display: flex;
    justify-content:space-between;
}
#copyright .txtArea .imgArea ul li{
    width: 20%;
}
#copyright .txtArea .imgArea ul li img{
    height: 50px;
    width: auto;
    margin: 0 auto;
}
#copyright .txtArea .imgArea ul li span{
    display: block;
    text-align: center;
    font-weight: 500;
    margin-top: 10px;
}
#copyright .txtArea .ex{
    padding: 20px;
    margin: 20px 0;
    background: #f2f2f2;
}
#copyright .txtArea .ex span{
    display: inline-block;
    color: #fff;
    padding: 3px 5px;
    border-radius: 5px;
    background: #1d1d1f;
    margin-bottom: 10px;
}
#copyright .txtArea .ex p{}
#copyright .txtArea .table{
    border: 1px solid #bdbdbd;
}
#copyright .txtArea .table li{
    display: table;
    width: 100%;
}
#copyright .txtArea .table li p{
    display: table-cell;
    width: 50%;
    padding: 20px;
}
#copyright .txtArea .table li p.bold{
    font-weight: 500;
    border-right: 1px solid #bdbdbd;

}

/* media query */
/* 0 ~ 1450 */
@media(max-width:1450px){
    .container{width: 100%;}
}
/* 0 ~ 1280 */
@media(max-width:1280px){
    .row{padding: 0 28px;} 
    #copyright .txtArea .imgArea ul li img{height: 40px;}
}

/* 0 ~ 1024 */
@media(max-width:1024px){
    .row{padding: 0 20px;}
    #copyright .txtArea .imgArea ul li img{height: 30px;}
}

/* 0 ~ 960 */
@media(max-width:960px){
    .row{padding: 0 10px;}
    #copyright{padding: 60px 0;}
    #copyright .titArea h3{font-size: 27px;}
    #copyright .txtArea p{font-size: 14px;}
    #copyright .txtArea .table li p{padding: 15px;}
    #copyright .txtArea .imgArea ul li span{font-size: 14px;}
    #copyright .txtArea .ex span{font-size: 14px;}
}

/* 0 ~ 768 */
@media(max-width:768px){
    .row{padding: 0 24px;}
    #copyright .copyright{flex-direction: column;}
    #copyright .titArea{width: 100%;margin-right: 0;}
    #copyright .copyright h3{text-align:center; margin-bottom: 50px;}
    #copyright .copyright h3::after{content: "";position: absolute;width: 1px;height: 20px;top: 50px;left: 50%;background: #1d1d1f;}
    #copyright .txtArea{width: 100%;}
    #copyright .txtArea .imgArea ul{flex-flow: row wrap;}
    #copyright .txtArea .imgArea ul li{width: 50%;}
    #copyright .txtArea .imgArea ul li:nth-child(3){margin-top: 20px;}
    #copyright .txtArea .imgArea ul li:nth-child(4){margin-top: 20px;}
    #copyright .txtArea .imgArea ul li img{width: 50%;height: auto;}
}

/* 0 ~ 600 */
@media(max-width:600px){
    #copyright{padding: 40px 0;}
    #copyright .titArea h3{font-size: 24px;}
    #copyright .titArea h3::after{top: 45px;}
    #copyright .txtArea p{font-size: 12px;}
    #copyright .txtArea ul{margin-top: 10px;}
    #copyright .txtArea .table li p{padding: 10px;}
    #copyright .txtArea .imgArea{margin: 20px 0;}
    #copyright .txtArea .imgArea ul li span{font-size: 12px;}
    #copyright .txtArea .ex span{font-size: 12px;}
}

/* 0 ~ 480 */
@media(max-width:480px){
    .row{padding: 0 16px;}
    #copyright .titArea h3{font-size: 21px;}
    #copyright .titArea h3::after{top: 40px;}
}

/* 0 ~ 360 */
@media(max-width:360px){}