@charset "UTF-8";

*{
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
	color: #1d1d1f;
}
a{
	text-decoration: none;
}
html, body{
	overflow-x: hidden;
}

.container{
    width: 1440px;
    height: inherit;
    margin: 0 auto;
}
.row{
    padding: 0 24px;
}

/* banner */
#banner{
    width: 100%;
    height: 400px;
    background: url(../img/eunhee_sub_banner_.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}
.banner{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.banner h2{
    font-size: 50px;
    color: #fff;
    font-weight: 500;
}
.banner p{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

/* sub-nav */
#section--sub-nav{
    background: #1d1d1f;
}
.sub-nav.on{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1000;
    top:0px;
    left: 50%;
    transform: translateX(-50%);
    background: #fafafa;
    padding: 0 24px;
    background: #1d1d1f;
}
.sub-nav{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 80px;
}

.home-btn{
    width: 200px;
    display: none;
    text-align: center;
}
.sub-nav .nav{
    flex: 1;
}
.sub-nav .nav ul{
    display: flex;
}
.sub-nav .nav ul li{
    position: relative;
    width: 20%;
    text-align: center;
    z-index: 800;
    /* background: #255b70; */
}
.sub-nav .nav>ul>li::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 90%;
    background-color: #fff;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s;
}
.sub-nav .nav>ul>li.active::after{
    opacity: 1;
    bottom: 1px;
}
.sub-nav .nav>ul>li.on::after{
    opacity: 1;
    bottom: 1px;
}
.sub-nav .nav>ul>li::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    opacity: 0;
    transition: all 0.3s;
}
.sub-nav .nav>ul>li.on::before{
    opacity: 1;
    bottom: 5px;
}
.sub-nav .nav>ul>li.active::before{
    opacity: 1;
    bottom: 5px;
}
.sub-nav .nav ul li a{
    display: block;
    padding: 15px 30px;
    position: relative;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}
.sub-nav .nav>ul>li>a::after{
    content: "";
    position: absolute;
    right: 0px;
    top: 20px;
    width: 1px;
    height: 16px;
    background: #fff;
    z-index: 10;
}
.sub-nav .nav>ul>li:last-of-type>a::after{
    display: none;
}
.sub-nav .nav>ul>li .sub-menu{
    position: absolute;
    display: none;
    width: 100%;
    background: #1d1d1f;
    padding: 30px 0;
    /* box-shadow: 0 0 2px 2px rgba(0,0,0,0.2); */
    /* border: 1px solid #1d1d1f; */
/*    border-top: none;*/
}
.sub-nav .nav>ul>li .sub-menu li{
    width: 100%;
}
.sub-nav .nav ul li .sub-menu li a{
    position: relative;
    display: inline-block;
    color: #fff;
}
.sub-nav .nav ul li .sub-menu li a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3px;
    transform-origin: center;
    transition: all 0.3s;
}
.sub-nav .nav ul li .sub-menu li a:hover::after{
    width: 100%;
    transform-origin: center;
}

/* section--contents */
#section--contents{
    box-sizing: border-box;
    background: #f2f2f2;
}
#section--contents .subTitle{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding: 80px 0;
}
#section--contents .subTitle h3{
    font-size: 30px;
    font-weight: 500;
    color: #424242;
}
#section--contents .subTitle p{
    font-size: 20px;
    color: #424242;
}


/*contents1*/
#contents1{
	padding: 80px 0;
}
#contents1 .contents1{
    display: flex;
}
#contents1 .cont_tit{
    width: 23.5%;
    margin-right: 1%;
}
#contents1 .cont_tit h3{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}
#contents1 .cont_tit h3::after{
    content: "";
    position: absolute;
    width: 55%;
    height: 3px;
    top: 50%;
    right: 0;
    background: #1d1d1f;
    display: none;
}
#contents1 .cont_txt{
    width: 75.5%;
}
#contents1 .cont_txt .txtbox a{
    display: inline-block;
    padding: 10px 40px;
    font-size: 16px;
    background: #000;
    color: #fff;
}


/* media query */
/* 0 ~ 1450 */
@media(max-width:1450px){
    .container{width: 100%;}
}
/* 0 ~ 1280 */
@media(max-width:1280px){
    .row{padding: 0 28px;}
    .sub-nav{padding: 0;}
    #contents1 .cont_tit h3::after{width: 45%;} 
}

/* 0 ~ 1024 */
@media(max-width:1024px){
    .row{padding: 0 20px;}
    .banner h2{font-size: 45px;}
    #section--sub-nav{display: none;}
    #contents1 .cont_tit h3::after{width: 40%;}
    #contents1 .cont_txt .mapbox iframe{height: 350px;}
}

/* 0 ~ 960 */
@media(max-width:960px){
    .row{padding: 0 10px;}
    .banner h2{font-size: 40px;}
    .banner p{font-size: 18px;}
    .sub-nav .nav ul li a{font-size: 14px;padding: 15px 10px;}
    .sub-nav .nav>ul>li>a::after{top: 18px;}
    #section--contents .subTitle{height: 250px;}
    #section--contents .subTitle h3{font-size: 27px;}
    #section--contents .subTitle p{font-size: 18px;}
    #contents1{padding: 60px 0;}
    #contents1 .cont_tit h3{font-size: 27px;}
}

/* 0 ~ 768 */
@media(max-width:768px){
    .row{padding: 0 24px;}
    .sub-nav .nav ul li a{padding: 15px 5px;}
    #contents1 .contents1{flex-direction: column;}
    #contents1 .cont_tit{width: 100%;margin-right: 0}
    #contents1 .cont_tit h3{text-align: center;margin-bottom: 50px;}
    #contents1 .cont_tit h3::after{width: 1px;height: 20px;top: 50px;left: 50%; display: block;}
	#contents1 .cont_txt{width: 100%;flex-direction: column;}
    #contents1 .cont_txt .mapbox iframe{height: 300px;}
	
	
	
	
	
	

}

/* 0 ~ 600 */
@media(max-width:600px){
    .banner h2{font-size: 35px;}
    .banner p{font-size: 16px;}
    .sub-nav .nav ul li a{font-size: 12px;}
    #section--contents .subTitle{height: 200px;}
    #section--contents .subTitle h3{font-size: 24px;}
    #section--contents .subTitle p{font-size: 16px;}
    #contents1{padding: 40px 0;}
    #contents1 .cont_tit h3{font-size: 24px;}
    #contents1 .cont_tit h3::after{top: 45px;}
    #contents1 .cont_txt .txtbox a{font-size: 12px;padding: 10px 25px;}
    #contents1 .cont_txt .mapbox iframe{height: 250px;}

/* 0 ~ 480 */
@media(max-width:480px){
    .row{padding: 0 16px;}
    .banner h2{font-size: 30px;}
    .banner p{font-size: 14px;}
    #section--contents .subTitle h3{font-size: 21px;}
    #section--contents .subTitle p{font-size: 14px;}
    #contents1 .cont_tit h3{font-size: 21px;}
    #contents1 .cont_tit h3::after{top: 40px;}
}

/* 0 ~ 360 */
@media(max-width:360px){}