@charset "UTF-8";

*{
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
	color: #1d1d1f;
}
a{
	text-decoration: none;
}
html, body{
	overflow-x: hidden;
}

.container{
    width: 1440px;
    height: inherit;
    margin: 0 auto;
}
.row{
    padding: 0 24px;
}

/* banner */
#banner{
    width: 100%;
    height: 400px;
    background: url(../img/eunhee_sub_banner_.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
}
.banner{
    width: 100%;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}
.banner h2{
    font-size: 50px;
    color: #fff;
    font-weight: 500;
}
.banner p{
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}

/* sub-nav */
#section--sub-nav{
    background: #1d1d1f;
}
.sub-nav.on{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 1000;
    top:0px;
    left: 50%;
    transform: translateX(-50%);
    background: #fafafa;
    padding: 0 24px;
    background: #1d1d1f;
}
.sub-nav{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 80px;
}

.home-btn{
    width: 200px;
    display: none;
    text-align: center;
}
.sub-nav .nav{
    flex: 1;
}
.sub-nav .nav ul{
    display: flex;
}
.sub-nav .nav ul li{
    position: relative;
    width: 20%;
    text-align: center;
    z-index: 800;
    /* background: #255b70; */
}
.sub-nav .nav>ul>li::after{
    content: "";
    position: absolute;
    height: 2px;
    width: 90%;
    background-color: #fff;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.3s;
}
.sub-nav .nav>ul>li.active::after{
    opacity: 1;
    bottom: 1px;
}
.sub-nav .nav>ul>li.on::after{
    opacity: 1;
    bottom: 1px;
}
.sub-nav .nav>ul>li::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: -5px;
    transform: translateX(-50%);
    border-top: 5px solid #fff;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    opacity: 0;
    transition: all 0.3s;
}
.sub-nav .nav>ul>li.on::before{
    opacity: 1;
    bottom: 5px;
}
.sub-nav .nav>ul>li.active::before{
    opacity: 1;
    bottom: 5px;
}
.sub-nav .nav ul li a{
    display: block;
    padding: 15px 30px;
    position: relative;
    color: #fff;
    text-align: center;
    white-space: nowrap;
}
.sub-nav .nav>ul>li>a::after{
    content: "";
    position: absolute;
    right: 0px;
    top: 20px;
    width: 1px;
    height: 16px;
    background: #fff;
    z-index: 10;
}
.sub-nav .nav>ul>li:last-of-type>a::after{
    display: none;
}
.sub-nav .nav>ul>li .sub-menu{
    position: absolute;
    display: none;
    width: 100%;
    background: #1d1d1f;
    padding: 30px 0;
    /* box-shadow: 0 0 2px 2px rgba(0,0,0,0.2); */
    /* border: 1px solid #1d1d1f; */
/*    border-top: none;*/
}
.sub-nav .nav>ul>li .sub-menu li{
    width: 100%;
}
.sub-nav .nav ul li .sub-menu li a{
    position: relative;
    display: inline-block;
    color: #fff;
}
.sub-nav .nav ul li .sub-menu li a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3px;
    transform-origin: center;
    transition: all 0.3s;
}
.sub-nav .nav ul li .sub-menu li a:hover::after{
    width: 100%;
    transform-origin: center;
}

/* section--contents */
#section--contents{
    box-sizing: border-box;
    background: #f2f2f2;
}
#section--contents .subTitle{
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding: 80px 0;
}
#section--contents .subTitle h3{
    font-size: 30px;
    font-weight: 500;
    color: #424242;
}
#section--contents .subTitle p{
    font-size: 20px;
    color: #424242;
}

/*contents1*/
#contents1{
	padding: 80px 0;
}
#contents1 .contents1{
    display: flex;
}
#contents1 .cont_tit{
    width: 23.5%;
    margin-right: 1%;
}
#contents1 .cont_tit h3{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}
#contents1 .cont_tit h3::after{
    content: "";
    position: absolute;
    width: 55%;
    height: 3px;
    top: 50%;
    right: 0;
    background: #1d1d1f;
    display: none;
}
#contents1 .cont_txt{
    width: 75.5%;
	height: 250px;
	display: flex;
	flex-direction: row;
}
#contents1 .cont_txt .txtbox{
	width: 30%;
	margin-right: 5%;
	border: 1px solid #ddd;
	border-top: 1px solid #000;
	padding: 0 20px;
	box-sizing: border-box;
	text-align: center;
}
#contents1 .cont_txt .txtbox:last-child{
	margin-right: 0;
}
#contents1 .cont_txt .txtbox h4{
	height: 60px;
	border-bottom: 1px solid #ddd;
	font-size: 16px;
	background: url(../img/viewing_icon1.png) no-repeat 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}
#contents1 .cont_txt .txtbox:nth-child(2) h4{
	background: url(../img/viewing_icon2.png) no-repeat 20px;
}
#contents1 .cont_txt .txtbox .box{
	padding: 30px 0;
	box-sizing: border-box;
}
#contents1 .cont_txt .txtbox .box strong{
	font-size: 16px;
	margin-bottom: 20px;
	display: inline-block;
}
#contents1 .cont_txt .txtbox .box p{
	font-size: 16px;
}

/*contents2*/
#contents2{
	padding: 80px 0;
	background: #f2f2f2;
}
#contents2 .contents2{
    display: flex;
}
#contents2 .cont_tit{
    width: 23.5%;
    margin-right: 1%;
}
#contents2 .cont_tit h3{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}
#contents2 .cont_tit h3::after{
    content: "";
    position: absolute;
    width: 55%;
    height: 3px;
    top: 50%;
    right: 0;
    background: #1d1d1f;
    display: none;
}
#contents2 .cont_txt{
    width: 75.5%;
	display: flex;
	align-items: center;
}
#contents2 .cont_txt p{
	font-weight: 600;
	font-size: 16px;
}

/*content3*/
#contents3{
	padding: 80px 0;
}
#contents3 .contents3{
    display: flex;
}
#contents3 .cont_tit{
    width: 23.5%;
    margin-right: 1%;
}
#contents3 .cont_tit h3{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}
#contents3 .cont_tit h3::after{
    content: "";
    position: absolute;
    width: 55%;
    height: 3px;
    top: 50%;
    right: 0;
    background: #1d1d1f;
    display: none;
}
#contents3 .cont_txt{
    width: 75.5%;
}
#contents3 .cont_txt .cont_txt_title{
	display: flex;
	align-items: center;
    height: 44px;
    margin-bottom: 40px;
}
#contents3 .cont_txt .cont_txt_title p{
	font-size: 16px;
}
#contents3 .cont_txt .tap_menu{}
#contents3 .cont_txt .tap_menu ul{}
#contents3 .cont_txt .tap_menu ul li{
    float: left;
}
#contents3 .cont_txt .tap_menu ul li a{
    font-size: 16px;
    display: block;
    border: 1px solid #000;
    padding: 10px 40px;
    border-right: 0;
    border-bottom: 0;
}
#contents3 .cont_txt .tap_menu ul li:last-child a{
    border-right: 1px solid #000;
}
#contents3 .cont_txt .tap_menu ul li:hover a{
    background: #000;
    color: #fff;
    transition: all 0.3s;
}
#contents3 .cont_txt .tap_menu ul li.active a{
    background: #000;
    color: #fff;
}
#contents3 .cont_txt .tap_cont{}
#contents3 .cont_txt .tap_cont div img{
    width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-top: 1px solid #000;
}



/*contents4*/
#contents4{
	padding: 80px 0;
	background: #f2f2f2;
}
#contents4 .contents4{
    display: flex;
}
#contents4 .cont_tit{
    width: 23.5%;
    margin-right: 1%;
}
#contents4 .cont_tit h3{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}
#contents4 .cont_tit h3::after{
    content: "";
    position: absolute;
    width: 55%;
    height: 3px;
    top: 50%;
    right: 0;
    background: #1d1d1f;
    display: none;
}
#contents4 .cont_txt{
    width: 75.5%;
}
#contents4 .cont_txt p{
	font-size: 16px;
}

/*contents5*/
#contents5{
	padding: 80px 0;
}
#contents5 .contents5{
    display: flex;
}
#contents5 .cont_tit{
    width: 23.5%;
    margin-right: 1%;
}
#contents5 .cont_tit h3{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}
#contents5 .cont_tit h3::after{
    content: "";
    position: absolute;
    width: 55%;
    height: 3px;
    top: 50%;
    right: 0;
    background: #1d1d1f;
    display: none;
}
#contents5 .cont_txt{
    width: 75.5%;
}
#contents5 .cont_txt p{
	font-size: 16px;
}


/*contents6*/
#contents6{
	padding: 80px 0;
	background: #f2f2f2;
}
#contents6 .contents6{
    display: flex;
}
#contents6 .cont_tit{
    width: 23.5%;
    margin-right: 1%;
}
#contents6 .cont_tit h3{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}
#contents6 .cont_tit h3::after{
    content: "";
    position: absolute;
    width: 50%;
    height: 3px;
    top: 50%;
    right: 0;
    background: #1d1d1f;
    display: none;
}
#contents6 .cont_txt{
    width: 75.5%;
}
#contents6 .cont_txt p{
	font-size: 16px;
    word-break:keep-all;
}
#contents6 .cont_txt p:nth-child(2){
    margin-bottom: 40px;
}
#contents6 .cont_txt table{
    background: #fff;
    border: 1px solid #ddd;
    border-top: 1px solid #000;
    width: 100%;
}
#contents6 .cont_txt table tr td{
    padding: 10px;
    word-break: keep-all;
}
#contents6 .cont_txt table tr th{
    padding: 10px;
    text-align: left;
    word-break: keep-all;
}
#contents6 .cont_txt table .first td{
    border-bottom: 1px solid #ddd;
}
#contents6 .cont_txt table .two td{
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
}
#contents6 .cont_txt table .two th{
    border-bottom: 1px solid #ddd;
}
#contents6 .cont_txt table .three td{
    border-left: 1px solid #ddd;
}


/*contents7*/
#contents7{
	padding: 80px 0;
}
#contents7 .contents7{
    display: flex;
}
#contents7 .cont_tit{
    width: 23.5%;
    margin-right: 1%;
}
#contents7 .cont_tit h3{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}
#contents7 .cont_tit h3::after{
    content: "";
    position: absolute;
    width: 38%;
    height: 3px;
    top: 50%;
    right: 0;
    background: #1d1d1f;
    display: none;
}
#contents7 .cont_txt{
    width: 75.5%;
}
#contents7 .cont_txt p{
	font-size: 16px;
    word-break:keep-all;
}
#contents7 .cont_txt p:nth-child(3){
    margin-bottom: 40px;
}
#contents7 .cont_txt table{
    background: #fff;
    border: 1px solid #ddd;
    border-top: 1px solid #000;
    width: 60%;
    text-align: center;
    float: left;
    margin-right: 10%;
}
#contents7 .cont_txt img{
    float: left;
    width: 30%;
    height: auto;
}
#contents7 .cont_txt table tr td{
    padding: 10px;
    border-right: 1px solid #ddd;
}
#contents7 .cont_txt table tr td:nth-child(4){
    border-right: 0;
}
#contents7 .cont_txt table tr th{
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
#contents7 .cont_txt table tr th:first-child{
    border-right: 1px solid #ddd;
}
#contents7 .cont_txt table .two td{
    border-bottom: 1px solid #ddd;
}

/*contents8*/
#contents8{
	padding: 80px 0;
    background: #f2f2f2;
}
#contents8 .contents8{
    display: flex;
}
#contents8 .cont_tit{
    width: 23.5%;
    margin-right: 1%;
}
#contents8 .cont_tit h3{
    position: relative;
    font-size: 30px;
    font-weight: 600;
}
#contents8 .cont_tit h3::after{
    content: "";
    position: absolute;
    width: 38%;
    height: 3px;
    top: 50%;
    right: 0;
    background: #1d1d1f;
    display: none;
}
#contents8 .cont_txt{
    width: 75.5%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#contents8 .cont_txt>div{
    height: 200px;
    border: 1px solid #000;
    width: 30%;
    margin-right: 5%;
    margin-bottom: 40px;
    text-align: center;
    background: url(../img/viewing_i1.png) no-repeat center 30%;
    padding-top: 140px;
}
#contents8 .cont_txt>div:nth-child(2){
    background: url(../img/viewing_i2.png) no-repeat center 30%;
}
#contents8 .cont_txt>div:nth-child(3){
    background: url(../img/viewing_i3.png) no-repeat center 30%;
}
#contents8 .cont_txt>div:nth-child(4){
    background: url(../img/viewing_i4.png) no-repeat center 30%;
}
#contents8 .cont_txt>div:nth-child(5){
    background: url(../img/viewing_i5.png) no-repeat center 30%;
}
#contents8 .cont_txt>div:nth-child(6){
    background: url(../img/viewing_i6.png) no-repeat center 30%;
}
#contents8 .cont_txt>div:nth-child(3n){
    margin-right: 0;
}
#contents8 .cont_txt>div:nth-child(7){
    margin-bottom: 0;
    background: url(../img/viewing_i7.png) no-repeat center 30%;
}
#contents8 .cont_txt>div:nth-child(8){
    margin-bottom: 0;
    background: url(../img/viewing_i8.png) no-repeat center 30%;
}
#contents8 .cont_txt>div:nth-child(9){
    margin-bottom: 0;
    background: url(../img/viewing_i9.png) no-repeat center 30%;
}
#contents8 .cont_txt p{
	font-size: 16px;
}









/* media query */
/* 0 ~ 1450 */
@media(max-width:1450px){
    .container{width: 100%;}
}
/* 0 ~ 1280 */
@media(max-width:1280px){
    .row{padding: 0 28px;}
    .sub-nav{padding: 0;}
    #contents1 .cont_tit h3::after{width: 45%;}
	#contents1 .cont_txt .txtbox{width: 35%;margin-right: 2.5%;}
	#contents1 .cont_txt .txtbox:last-child{margin-right: 0;}
	#contents2 .cont_tit h3::after{width: 45%;}
	#contents3 .cont_tit h3::after{width: 45%;}
    #contents4 .cont_tit h3::after{width: 45%;}
    #contents5 .cont_tit h3::after{width: 45%;}
    #contents6 .cont_tit h3::after{width: 38%;}
    #contents7 .cont_tit h3::after{width: 20%;}
    #contents7 .cont_txt table{width: 60%;margin-right: 5%;}
    #contents7 .cont_txt img{ width: 35%;}
    #contents8 .cont_tit h3::after{width: 20%;}
}

/* 0 ~ 1024 */
@media(max-width:1024px){
    .row{padding: 0 20px;}
    .banner h2{font-size: 45px;}
    #section--sub-nav{display: none;}
    #contents1 .cont_tit h3::after{width: 40%;} 
    #contents2 .cont_tit h3::after{width: 40%;}
    #contents3 .cont_tit h3::after{width: 40%;}
    #contents4 .cont_tit h3::after{width: 40%;}
    #contents5 .cont_tit h3::after{width: 40%;}
    #contents6 .cont_tit h3::after{width: 26%;}
    #contents7 .cont_tit h3::after{width: 16%;}
    #contents8 .cont_tit h3::after{width: 16%;}
}

/* 0 ~ 960 */
@media(max-width:960px){
    .row{padding: 0 10px;}
    .banner h2{font-size: 40px;}
    .banner p{font-size: 18px;}
    .sub-nav .nav ul li a{font-size: 14px;padding: 15px 10px;}
    .sub-nav .nav>ul>li>a::after{top: 18px;}
    #section--contents .subTitle{height: 250px;}
    #section--contents .subTitle h3{font-size: 27px;}
    #section--contents .subTitle p{font-size: 18px;}
    #contents1{padding: 60px 0;}
    #contents1 .cont_tit h3{font-size: 27px;}
	#contents1 .cont_txt .txtbox{width: 36%;margin-right: 2%;padding: 0;}
	#contents1 .cont_txt .txtbox:last-child{margin-right: 0;}
	#contents2{padding: 60px 0;}
    #contents2 .cont_tit h3{font-size: 27px;}
    #contents3 .cont_txt .txtbox:last-child{margin-right: 0;}
	#contents3{padding: 60px 0;}
    #contents3 .cont_tit h3{font-size: 27px;}
    #contents3 .cont_txt .cont_txt_title{height: 40px;margin-bottom: 30px;}
    #contents3 .cont_txt .tap_menu ul li a{padding: 10px 30px;}
    #contents4{padding: 60px 0;}
    #contents4 .cont_tit h3{font-size: 27px;}
    #contents5{padding: 60px 0;}
    #contents5 .cont_tit h3{font-size: 27px;}
    #contents6{padding: 60px 0;}
    #contents6 .cont_tit h3{font-size: 27px;}
    #contents6 .cont_txt p:nth-child(2){margin-bottom: 30px;}
    #contents7{padding: 60px 0;}
    #contents7 .cont_tit h3{font-size: 27px;}
    #contents7 .cont_tit h3::after{width: 8%;}
    #contents7 .cont_txt table{width: 62.5%;margin-right: 2.5%;}
    #contents7 .cont_txt img{ width: 35%;}
    #contents7 .cont_txt p:nth-child(3){margin-bottom: 30px;}
    #contents8{padding: 60px 0;}
    #contents8 .cont_tit h3{font-size: 27px;}
    #contents8 .cont_tit h3::after{width: 8%;}
    #contents8 .cont_txt>div{width: 47.5%;margin-right: 5%;margin-bottom: 30px;}
    #contents8 .cont_txt>div:nth-child(2n){margin-right: 0;}
    #contents8 .cont_txt>div:nth-child(3){margin-right: 5%;}
    #contents8 .cont_txt>div:nth-child(7){margin-bottom: 30px;}
}

/* 0 ~ 768 */
@media(max-width:768px){
    .row{padding: 0 24px;}
    .sub-nav .nav ul li a{padding: 15px 5px;}
    #contents1 .contents1{flex-direction: column;}
    #contents1 .cont_tit{width: 100%;margin-right: 0}
    #contents1 .cont_tit h3{text-align: center;margin-bottom: 50px;}
    #contents1 .cont_tit h3::after{width: 1px;height: 20px;top: 50px;left: 50%;display: block;}
	#contents1 .cont_txt{width: 100%;flex-direction: column;height: auto;}
	#contents1 .cont_txt .txtbox{width: 100%;margin-right: 0%;margin-bottom: 30px;}
	#contents1 .cont_txt .txtbox:last-child{margin-bottom: 0;}
	#contents1 .cont_txt .txtbox .box{padding: 10px 0;}
	#contents2 .contents2{flex-direction: column;}
    #contents2 .cont_tit{width: 100%;margin-right: 0}
    #contents2 .cont_tit h3{text-align: center;margin-bottom: 50px;}
    #contents2 .cont_tit h3::after{width: 1px;height: 20px;top: 50px;left: 50%;display: block;}
	#contents2 .cont_txt{width: 100%;justify-content: center;}
    #contents3 .contents3{flex-direction: column;}
    #contents3 .cont_tit{width: 100%;margin-right: 0}
    #contents3 .cont_tit h3{text-align: center;margin-bottom: 50px;}
    #contents3 .cont_tit h3::after{width: 1px;height: 20px;top: 50px;left: 50%;display: block;}
    #contents3 .cont_txt{width: 100%;}
    #contents3 .cont_txt .cont_txt_title{height: 23px;}
    #contents3 .cont_txt .tap_menu{margin-left: 2px;}
    #contents3 .cont_txt .tap_menu ul li{width: 20%;text-align: center;}
    #contents4 .contents4{flex-direction: column;}
    #contents4 .cont_tit{width: 100%;margin-right: 0}
    #contents4 .cont_tit h3{text-align: center;margin-bottom: 50px;}
    #contents4 .cont_tit h3::after{width: 1px;height: 20px;top: 50px;left: 50%;display: block;}
	#contents4 .cont_txt{width: 100%;text-align: center;}
    #contents5 .contents5{flex-direction: column;}
    #contents5 .cont_tit{width: 100%;margin-right: 0}
    #contents5 .cont_tit h3{text-align: center;margin-bottom: 50px;}
    #contents5 .cont_tit h3::after{width: 1px;height: 20px;top: 50px;left: 50%;display: block;}
    #contents5 .cont_txt{width: 100%;text-align: center;}
    #contents6 .contents6{flex-direction: column;}
    #contents6 .cont_tit{width: 100%;margin-right: 0}
    #contents6 .cont_tit h3{text-align: center;margin-bottom: 50px;}
    #contents6 .cont_tit h3::after{width: 1px;height: 20px;top: 50px;left: 50%;display: block;}
    #contents6 .cont_txt{width: 100%;}
    #contents6 .cont_txt p{width: 100%;text-align: center;}
	#contents7 .contents7{flex-direction: column;}
    #contents7 .cont_tit{width: 100%;margin-right: 0}
    #contents7 .cont_tit h3{text-align: center;margin-bottom: 50px;}
    #contents7 .cont_tit h3::after{width: 1px;height: 20px;top: 50px;left: 50%;display: block;}
    #contents7 .cont_txt{width: 100%;}
    #contents7 .cont_txt p{width: 100%;text-align: center;}
	#contents7 .cont_txt table{width: 65%;margin-right: 5%;}
    #contents7 .cont_txt img{ width: 30%;}
	#contents8 .contents8{flex-direction: column;}
    #contents8 .cont_tit{width: 100%;margin-right: 0}
    #contents8 .cont_tit h3{text-align: center;margin-bottom: 50px;}
    #contents8 .cont_tit h3::after{width: 1px;height: 20px;top: 90px;left: 50%;display: block;}
    #contents8 .cont_txt{width: 100%;}

}

/* 0 ~ 600 */
@media(max-width:600px){
    .banner h2{font-size: 35px;}
    .banner p{font-size: 16px;}
    .sub-nav .nav ul li a{font-size: 12px;}
    #section--contents .subTitle{height: 200px;}
    #section--contents .subTitle h3{font-size: 24px;}
    #section--contents .subTitle p{font-size: 16px;}
    #contents1{padding: 40px 0;}
    #contents1 .cont_tit h3{font-size: 24px;}
    #contents1 .cont_tit h3::after{top: 45px;}
    #contents1 .cont_txt .txtbox h4{font-size: 12px;height: 40px;}
	#contents1 .cont_txt .txtbox .box strong{font-size: 12px;}
	#contents1 .cont_txt .txtbox .box p{font-size: 12px;}
	#contents2{padding: 40px 0;}
    #contents2 .cont_tit h3{font-size: 24px;}
    #contents2 .cont_tit h3::after{top: 45px;}
	#contents2 .cont_txt p{font-size: 12px;}
    #contents3{padding: 40px 0;}
    #contents3 .cont_tit h3{font-size: 24px;}
    #contents3 .cont_tit h3::after{top: 45px;}
	#contents3 .cont_txt p{font-size: 12px;}
    #contents3 .cont_txt .cont_txt_title{height: 17px;}
    #contents3 .cont_txt .cont_txt_title p{font-size: 12px;}
    #contents3 .cont_txt .tap_menu ul li a{font-size: 12px;padding: 10px 25px;}
    #contents4{padding: 40px 0;}
    #contents4 .cont_tit h3{font-size: 24px;}
    #contents4 .cont_tit h3::after{top: 45px;}
	#contents4 .cont_txt p{font-size: 12px;}
    #contents5{padding: 40px 0;}
    #contents5 .cont_tit h3{font-size: 24px;}
    #contents5 .cont_tit h3::after{top: 45px;}
	#contents5 .cont_txt p{font-size: 12px;}
    #contents6{padding: 40px 0;}
    #contents6 .cont_tit h3{font-size: 24px;}
    #contents6 .cont_tit h3::after{top: 45px;}
	#contents6 .cont_txt p{font-size: 12px;}
    #contents6 .cont_txt table{font-size: 12px;}
    #contents7{padding: 40px 0;}
    #contents7 .cont_tit h3{font-size: 24px;}
    #contents7 .cont_tit h3::after{top: 45px;}
	#contents7 .cont_txt p{font-size: 12px;}
    #contents7 .cont_txt table{width: 100%;margin-right: 0%;margin-bottom: 30px;font-size: 12px;}
    #contents7 .cont_txt img{ width: 60%;display: block;margin: 0 auto;float: none;}
    #contents8{padding: 40px 0;}
    #contents8 .cont_tit h3{font-size: 24px;}
    #contents8 .cont_tit h3::after{top: 80px;}
	#contents8 .cont_txt p{font-size: 12px;}
    #contents8 .cont_txt>div{height: 150px;padding-top: 100px;background-size: 60px !important;}
}

/* 0 ~ 480 */
@media(max-width:480px){
    .row{padding: 0 16px;}
    .banner h2{font-size: 30px;}
    .banner p{font-size: 14px;}
    #section--contents .subTitle h3{font-size: 21px;}
    #section--contents .subTitle p{font-size: 14px;}
    #contents1 .cont_tit h3{font-size: 21px;}
    #contents1 .cont_tit h3::after{top: 40px;}
	#contents2 .cont_tit h3{font-size: 21px;}
    #contents2 .cont_tit h3::after{top: 40px;}
    #contents3 .cont_tit h3{font-size: 21px;}
    #contents3 .cont_tit h3::after{top: 40px;}
    #contents3 .cont_txt .tap_menu ul li a{padding: 10px 15px;}
    #contents4 .cont_tit h3{font-size: 21px;}
    #contents4 .cont_tit h3::after{top: 40px;}
    #contents4 .cont_txt p{word-break: keep-all;}
    #contents5 .cont_tit h3{font-size: 21px;}
    #contents5 .cont_tit h3::after{top: 40px;}
    #contents6 .cont_tit h3{font-size: 21px;}
    #contents6 .cont_tit h3::after{top: 40px;}
    #contents7 .cont_tit h3{font-size: 21px;}
    #contents7 .cont_tit h3::after{top: 40px;}
    #contents7 .cont_txt img{width: 70%;}
    #contents8 .cont_tit h3{font-size: 21px;}
    #contents8 .cont_tit h3::after{top: 70px;}
    #contents8 .cont_txt img{width: 70%;}
}

/* 0 ~ 360 */
@media(max-width:360px){}